version: "3.8"

services:
  sharp:
    container_name: sharp
    image: sharp
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ${PWD} : /usr/src/app
    network_mode: host
    extra_hosts:
      - "host.docker.external:host-gateway"
